<template>
    <base-dialog :show="!!error" title="An error occured!" @close="handleError">
        <p>{{ error }}</p>
    </base-dialog>
    <section>
        <base-card>
        <header>
            <h2>Request Recieved</h2>
        </header>
        <base-spinner v-if="loading"></base-spinner>
        <ul v-else-if="hasRequests && !loading">
            <request-item v-for="req in recievedRequests" :key="req.id"
            :email="req.email"
            :message="req.message"
            ></request-item>
        </ul>
        <h3 v-else>You haven't recieved any requests.</h3>
        </base-card>
    </section>
</template>

<script>
import RequestItem from '../../components/requests/RequestItem.vue';

export default {
    data() {
        return {
            loading: false,
            error: null
        }
    },
    components: {
        RequestItem
    },
    computed: {
        recievedRequests() {
            return this.$store.getters['requests/requests'];
        },
        hasRequests() {
            return this.$store.getters['requests/hasRequests'];
        }
    },
    created() {
        this.loadRequests();
    },
    methods: {
        async loadRequests() {
            this.loading =true;
            try{
                await this.$store.dispatch('requests/fetchRequests');
            } catch(error) {
                this.error = error.message || 'Something went wrong';
            }
            this.loading = false;
        },
        handleError() {
            this.error = null;
        }
    }
}
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>