<template>
<base-dialog :show="!!error" title="An error occured!" @close="handleError"> <!-- error is String, !error checks if null !!error checks if set value -->
    <p>{{ error }}</p>
</base-dialog>
  <coach-filter @change-filter="setFilters" @search-name="filterByName">
  </coach-filter>
  <base-card>
      <div class="controls">
          <base-button mode="outline" @click="loadCoaches">Refresh</base-button>
          <base-button v-if="!isCoach" link to="/register">Register as Coach</base-button>
      </div>
      <div v-if="loading">
          <base-spinner></base-spinner>
      </div>
      <ul v-if="hasCoachesCheck">
          <coach-item v-for="coach in filteredCoaches" :key="coach.id"
          :rate="coach.hourlyRate"
          :firstName="coach.firstName"
          :lastName="coach.lastName"
          :areas="coach.areas"
          :id="coach.id"> 
          </coach-item >
      </ul>
      <h3 v-else>No coaches found!</h3>
  </base-card>
</template>

<script>
import CoachItem from '../../components/coaches/CoachItem.vue';
import CoachFilter from '../../components/coaches/CoachFilter.vue'

export default {
  data() {
      return {
          loading: false,
          error: null,
          activeFilters: {
              frontend: true,
              backend: true,
              career: true
          },
      }
  },
  components: { 
            CoachItem,
            CoachFilter,
        },
    computed: {
        filteredCoaches() {
            let coaches = this.$store.getters['coaches/coaches']; // 1st coaches namespaced name 2nd getter name

            return coaches.filter(coach => {
                if(this.activeFilters.frontend && coach.areas.includes('frontend')) {
                    return true
                }
                if(this.activeFilters.backend && coach.areas.includes('backend')) {
                    return true
                }
                if(this.activeFilters.career && coach.areas.includes('career')) {
                    return true
                }
                return false;
            });
        },
        hasCoachesCheck() {
            return !this.loading && this.$store.getters['coaches/hasCoaches'];
        },
        isCoach() {
            return this.$store.getters['coaches/isCoach'];
        }
    },
    created() {
        this.loadCoaches();
    },
    methods: {
        compareNotSensitive(value1, value2) {
            const calc = value1.lastName.localeCompare(value2, undefined, {sensitivity: 'base'});
            console.log(value2, 'is val2');
            console.log(calc, 'is calc');
            if(calc == 0){
                console.log('returning', value2);
                return value2;
            }else {
                return value1.lastName;
            }
        },
        setFilters(updatedFilters) {
            this.activeFilters = updatedFilters;
        },
        async loadCoaches() {
            this.loading = true;
            try{
                await this.$store.dispatch('coaches/loadCoaches');
            }catch (error) {
                this.error = error.message || 'Something went wrong!';
            }
            this.loading = false;
            
        },
        handleError() {
            this.error = null;
        }
    }
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>