<template>
    <form @submit.prevent="submitForm">
        <div class="form-control" :class="{invalid: !firstName.isValid}">
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" v-model.trim="firstName.val"/>
            <p v-if="!firstName.isValid">You have to enter the first name!</p>
        </div>
        <div class="form-control" :class="{invalid: !lastName.isValid}">
            <label for="lastname">Last Name</label>
            <input id="lastname" type="text" v-model.trim="lastName.val"/>
            <p v-if="!lastName.isValid">You have to enter the last name!</p>
        </div>
        <div class="form-control" :class="{invalid: !description.isValid}">
            <label for="description">Description</label>
            <textarea id="description" type="text" rows="5" v-model.trim="description.val"></textarea>
            <p v-if="!description.isValid">You have to enter the description!</p>
        </div>
        <div class="form-control" :class="{invalid: !rate.isValid}">
            <label for="rate">Hourly Rate</label>
            <input id="rate" type="number" v-model.number="rate.val"/>
            <p v-if="!rate.isValid">You have to enter the rate greater than 0!</p>
        </div>
        <div class="form-control" :class="{invalid: !areas.isValid}">
            <h3>Areas of Expretise</h3>
            <div>
                <input type="checkbox" id="frontend" value="frontend" v-model="areas.val">
                <label for="frontend">Frontend Developement</label>
            </div>
            <div>
                <input type="checkbox" id="backend" value="backend" v-model="areas.val">
                <label for="backend">Backend Developement</label>
            </div>
            <div>
                <input type="checkbox" id="career" value="career" v-model="areas.val">
                <label for="career">Career Advisory</label>
            </div>
            <p v-if="!areas.isValid">At least one must be selected!</p>
        </div>
        <p v-if="!formIsValid">Please fix the errors and submit again.</p>
        <base-button>Register</base-button>  
    </form>
</template>

<script>
export default {
    emits: ['save-data'],
    data() {
        return {
            firstName: {
              val: '',
              isValid: true
            },
            lastName: {
              val: '',
              isValid: true
            },
            description: {
              val: '',
              isValid: true
            },
            rate: {
              val: null,
              isValid: true
            },
            areas: {
              val: [],
              isValid: true
            },
            formIsValid: true
        }
    },
    methods: {
        validateForm() {
          this.formIsValid = true;
          if(this.firstName.val === ''){
            this.firstName.isValid = false;
            this.formIsValid = false
          }
          if(this.lastName.val === ''){
            this.lastName.isValid = false;
            this.formIsValid = false
          }
          if(this.description.val === ''){
            this.description.isValid = false;
            this.formIsValid = false
          }
          if(!this.rate.val || this.rate.val < 0){
            this.rate.isValid = false;
            this.formIsValid = false
          }
          if(this.areas.val.length === 0){
            this.areas.isValid = false;
            this.formIsValid = false
          }
        },
        submitForm() {
          this.validateForm();

          if(!this.formIsValid){
            return;
          }

          const formData = {
              firstName: this.firstName.val,
              lastName: this.lastName.val,
              description: this.description.val,
              hourlyRate: this.rate.val,
              areas: this.areas.val
          };
          this.$emit('save-data', formData);
        }
    }
}
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
button {
    margin-top: 1em;
}
</style>