<template>
    <li>
        <h3>{{ firstName + ' ' + lastName }}</h3>
        <h4>{{ rate }}€/hour</h4>
        <div>
            <base-badge v-for="area in areas" :key="area" :type="area" :title="area"></base-badge>
        </div>
        <div class="action">
            <base-button link mode="outline" :to="coachContactLink">Contact</base-button>
            <base-button link :to="coachDetailLink">View Details</base-button>
        </div>
    </li>
</template>

<script>

export default {
    props: ['id', 'rate', 'firstName', 'areas', 'lastName'],
    computed: {
        coachContactLink() {
            return '/coaches/' + this.id + '/contact'; // /coaches/c1/contact
        },
        coachDetailLink() {
            return '/coaches/' + this.id;
        }
    }
}
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #424242;
  border-radius: 12px;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
</style>