<template>
    <base-card>
        <h2>Find Preffered Coach</h2>
        <span class="filter-option">
            <input @change="setFilter" type="checkbox" id="frontend" checked>
            <label for="frontend">Fronted</label>
        </span>
        <span class="filter-option">
            <input @change="setFilter" type="checkbox" id="backend" checked>
            <label for="backend">Backend</label>
        </span>
        <span class="filter-option">
            <input @change="setFilter" type="checkbox" id="career" checked>
            <label for="career">Career</label>
        </span>
    </base-card>
</template>

<script>
export default {
    emits: ['change-filter', 'search-name'],
    data() {
        return{
            filters: {
                frontend: true,
                backend: true,
                career: true,
            },
            name: '',
        }
    },
    methods: {
        setFilter(event) {
            const inputId = event.target.id;
            const isActive = event.target.checked;
            const updateFilters = {
                ...this.filters,
                [inputId]: isActive   //same as -> updateFilters[inputId] = isActive;
            };
            this.filters = updateFilters;
            this.$emit('change-filter', updateFilters);
        }
    },
}
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
</style>